<div>
    <p>Zadanie testowe</p>
    <ol>
        <li>
            Poprawić problem z budowaniem projektu na środowisku produkcyjnym.
        </li>
        <li>
            Stworzyć środowisko staging i dodać komendę (npm run build-stg) do szybkiego budowania projektu na środowisku staging.
        </li>
        <li>
            Wyłączyć uruchamianie skryptów z pliku index.html na środowisku localhost, na środowisku produkcyjnym skrypt ma być uruchamiany.
        </li>
        <li>
            Poprawić problem ze stylami, tak aby style z pliku app.component.scss nakładały się na wszystkie elementy na stronie.
        </li>
        <li>
            Poprawić obsługę formularza, tak aby po kliknięciu na przycisk dalej, wyświetliła się wartość z pola nr 2
        </li>
    </ol>

    <div class="text-right">
        <a routerLink="/formularz">Przejdź do formularza</a>
    </div>
</div>
